# PT2 EAM
# Importar pandas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


# Estructura de datos
![Alt text](AA.png "AA.title")

In [ ]:
# Lectura y conversión de archivo .cvs a DataFrame de Pandas
df_logistics=pd.read_csv('/content/drive/MyDrive/Personal/EmTech/synergy_logistics_database.csv',index_col=0)
# Dentro del dataframe de df_logistics aseguramos que la columna de date sea de tipo datetime
df_logistics['date'] = pd.to_datetime(df_logistics['date'],format='%d/%m/%y')
df_logistics.head()

            direction origin  ... company_name  total_value
register_id                   ...
1             Exports  Japan  ...        Honda     33000000
2             Exports  Japan  ...        Honda     16000000
3             Exports  Japan  ...        Honda     29000000
4             Exports  Japan  ...        Honda     14000000
5             Exports  Japan  ...        Honda     17000000

[5 rows x 9 columns]

# Opción 1
##### Rutas de importación y exportación. Synergy logistics está considerando la posibilidad de enfocar sus esfuerzos en las 10 rutas más demandadas. Acorde a los flujos de importación y exportación, ¿cuáles son esas 10 rutas? ¿le conviene implementar esa estrategia? ¿porqué?

In [ ]:
# Filtar por tipo de Dirección (Imports, Exports)
df_imports=df_logistics.loc[df_logistics['direction'] == 'Imports']
df_exports=df_logistics.loc[df_logistics['direction'] == 'Exports']

In [ ]:
# Contar con respecto a Imports y las rutas de origen y destino considerando las 10 mas demandadas
res_imports=df_imports[['origin','destination']].value_counts()
print("|:-------Rutas mas demandadas-------| Cant|")
print(res_imports[0:10].to_markdown())

|:-------Rutas mas demandadas-------| Cant|
|                                   |   0 |
|:----------------------------------|----:|
| ('Singapore', 'Thailand')         | 273 |
| ('Germany', 'China')              | 233 |
| ('China', 'Japan')                | 210 |
| ('Japan', 'Mexico')               | 206 |
| ('China', 'Thailand')             | 200 |
| ('Malaysia', 'Thailand')          | 195 |
| ('Spain', 'Germany')              | 142 |
| ('Mexico', 'USA')                 | 122 |
| ('China', 'United Arab Emirates') | 114 |
| ('Brazil', 'China')               | 113 |

In [ ]:
# Contar con respecto a Exports y las rutas de origen y destino considerando las 10 mas demandadas
df_res_exports=df_exports[['origin','destination']].value_counts()
print("|:---Rutas mas demandadas----| Cant|")
print(df_res_exports[0:10].to_markdown())

|:---Rutas mas demandadas----| Cant|
|                            |   0 |
|:---------------------------|----:|
| ('South Korea', 'Vietnam') | 497 |
| ('Netherlands', 'Belgium') | 437 |
| ('USA', 'Netherlands')     | 436 |
| ('China', 'Mexico')        | 330 |
| ('Japan', 'Brazil')        | 306 |
| ('Germany', 'France')      | 299 |
| ('South Korea', 'Japan')   | 279 |
| ('Australia', 'Singapore') | 273 |
| ('Canada', 'Mexico')       | 261 |
| ('China', 'Spain')         | 250 |

# Opción 2
#### Medio de transporte utilizado. ¿Cuáles son los 3 medios de transporte más importantes para Synergy logistics considerando el valor de las importaciones y exportaciones? ¿Cuál es medio de transporte que podrían reducir?

In [ ]:
# Proceso para obtener el valor total por cada tipo de transporte (Rail, Sea, Air, Road) por Import
df_trans_imp=df_imports['transport_mode'].unique()
dict_imp_tot={}
for t in df_trans_imp:
  df_res_tmp=df_imports.loc[df_imports['transport_mode'] == t]
  dict_imp_tot[t]=df_res_tmp['total_value'].sum()
# print(dict_imp_tot)
df_total_imp=pd.DataFrame.from_dict(dict_imp_tot, orient='index',columns=['total_imp'])
df_total_imp=df_total_imp.sort_values(by=['total_imp'],ascending=False)
print(df_total_imp['total_imp'].apply(lambda x: "${:,.2f}".format((x))).to_markdown())

|      | total_imp          |
|:-----|:-------------------|
| Sea  | $34,938,000,000.00 |
| Rail | $9,123,000,000.00  |
| Road | $5,990,000,000.00  |
| Air  | $5,477,000,000.00  |

In [ ]:
# Grafica para los tipos de transporte de Imports
## Declaramos valores para el eje x
eje_x = ['Sea', 'Rail', 'Road', 'Air']
## Declaramos valores para el eje y
eje_y = df_total_imp.total_imp
## Creamos Gráfica
plt.bar(eje_x, eje_y, color=['green', 'blue', 'yellow', 'red'], edgecolor='black')
## Legenda en el eje y
plt.ylabel('Total de Imports')
## Legenda en el eje x
plt.xlabel('Tipos de transporte')
## Título de Gráfica
plt.title('Valor total para Imports')
## Mostramos Gráfica
plt.show()

In [ ]:
![Alt text](descargas/a.jpg "AD title")

In [ ]:
# Proceso para obtener el valor total por cada tipo de transporte (Rail, Sea, Air, Road) por Export
df_trans_exp=df_exports['transport_mode'].unique()
dict_exp_tot={}
for t in df_trans_exp:
  df_res_tmp=df_exports.loc[df_exports['transport_mode'] == t]
  dict_exp_tot[t]=df_res_tmp['total_value'].sum()

df_total_exp=pd.DataFrame.from_dict(dict_exp_tot, orient='index',columns=['total_exp'])
df_total_exp=df_total_exp.sort_values(by=['total_exp'],ascending=False)
print(df_total_exp['total_exp'].apply(lambda x: "${:,.2f}".format((x))).to_markdown())

|      | total_exp          |
|:-----|:-------------------|
| Sea  | $65,592,622,000.00 |
| Rail | $34,505,043,000.00 |
| Air  | $32,785,147,000.00 |
| Road | $27,280,486,000.00 |

In [ ]:
# Grafica para los tipos de transporte de Exports
## Declaramos valores para el eje x
eje_x = ['Sea', 'Rail', 'Air', 'Road']
## Declaramos valores para el eje y
eje_y = df_total_exp.total_exp
## Creamos Gráfica
plt.bar(eje_x, eje_y, color=['green', 'blue', 'red','yellow'], edgecolor='black')
## Legenda en el eje y
plt.ylabel('Total de Exports')
## Legenda en el eje x
plt.xlabel('Tipos de transporte')
## Título de Gráfica
plt.title('Valor total para Exports')
## Mostramos Gráfica
plt.show()

In [ ]:
![Alt text](descargas/a.jpg "AE title")

In [ ]:
# Concatenamos ambos dfs usando como referencia de índice los tipos de transporte.
result = pd.concat([df_total_imp, df_total_exp], axis=1)
result['total_imp']=result['total_imp'].apply(lambda x: "${:,.2f}".format((x)))
result['total_exp']=result['total_exp'].apply(lambda y: "${:,.2f}".format((y)))
result

               total_imp           total_exp
Sea   $34,938,000,000.00  $65,592,622,000.00
Rail   $9,123,000,000.00  $34,505,043,000.00
Road   $5,990,000,000.00  $27,280,486,000.00
Air    $5,477,000,000.00  $32,785,147,000.00

In [ ]:
# Grafica para los tipos de transporte de Imports y Exports
serie_imp=df_total_imp.total_imp
serie_exp=df_total_exp.total_exp

numero_de_grupos = len(serie_imp)
indice_barras = np.arange(numero_de_grupos)
ancho_barras =0.35

plt.bar(indice_barras, serie_imp, width=ancho_barras, label='Imports')
plt.bar(indice_barras + ancho_barras, serie_exp, width=ancho_barras, label='Exports')
plt.legend(loc='best')
## Se colocan los indicadores en el eje x
plt.xticks(indice_barras + ancho_barras, ('Sea', 'Rail', 'Road', 'Air'))

plt.ylabel('Total de Imports Exports')
plt.xlabel('Tipo de Teansporte')
plt.title('Valor total para Imports y Exports')
 
plt.show()

In [ ]:
![Alt text](descargas/a.jpg "AF title")

# Opción 3

#### Valor total de importaciones y exportaciones. Si Synergy Logistics quisiera enfocarse en los países que le generan el 80% del valor de las exportaciones e importaciones ¿en qué grupo de países debería enfocar sus esfuerzos?

In [ ]:
# Total de importaciones
total_source_value=df_imports['total_value'].sum()

# Para obtener el total de importaciones en formato monetario
total_print='${:,.2f}'.format(total_source_value)
print(f'El Total de importaciones es de: {total_print}')

El Total de importaciones es de: $55,528,000,000.00

In [ ]:
# Generar lista de origenes para Imports
source_list=df_imports['origin'].unique()
source_list

array(['Mexico', 'Japan', 'China', 'South Korea', 'USA', 'Spain',
       'Germany', 'Italy', 'Vietnam', 'Malaysia', 'Singapore', 'France',
       'Russia', 'United Arab Emirates', 'Canada', 'United Kingdom',
       'Brazil', 'Australia'], dtype=object)

In [ ]:
# Generar listado para cada origen sumando el total_value por cada origen
source_total=[]
for origin in source_list:
  source=df_imports.loc[df_imports['origin']==origin]
  source_total.append([origin,source['total_value'].sum()])
source_total

[['Mexico', 4621000000],
 ['Japan', 8094000000],
 ['China', 12233000000],
 ['South Korea', 3889000000],
 ['USA', 5291000000],
 ['Spain', 3001000000],
 ['Germany', 4250000000],
 ['Italy', 1268000000],
 ['Vietnam', 540000000],
 ['Malaysia', 3560000000],
 ['Singapore', 4017000000],
 ['France', 1316000000],
 ['Russia', 851000000],
 ['United Arab Emirates', 371000000],
 ['Canada', 569000000],
 ['United Kingdom', 248000000],
 ['Brazil', 489000000],
 ['Australia', 920000000]]

In [ ]:
# Creamos un dataframe para el total de Países con respecto a Imports
# Agregamos columnas de ['percent', 'cum_percent'], para tabla de frecuencia acumulada
df_sources = pd.DataFrame(source_total, columns = ['Origin', 'total_value'])
df_sources=df_sources.sort_values(by=['total_value'],ascending=False)
df_sources['percent']=(df_sources['total_value'] / total_source_value)
df_sources['cum_percent']=df_sources['percent'].cumsum()
df_sources[:8]

         Origin  total_value   percent  cum_percent
2         China  12233000000  0.220303     0.220303
1         Japan   8094000000  0.145764     0.366068
4           USA   5291000000  0.095285     0.461353
0        Mexico   4621000000  0.083219     0.544572
6       Germany   4250000000  0.076538     0.621110
10    Singapore   4017000000  0.072342     0.693452
3   South Korea   3889000000  0.070037     0.763489
9      Malaysia   3560000000  0.064112     0.827600

In [ ]:
# Total de exportaciones
total_target_value=df_exports['total_value'].sum()

# Para obtener el total de exportaciones 
total_print='${:,.2f}'.format(total_target_value)
print(f'El Total de exportaciones es de: {total_print}')

El Total de exportaciones es de: $160,163,298,000.00

In [ ]:
# Generar lista de destino para exports
target_list=df_exports['destination'].unique()
target_list

array(['China', 'USA', 'South Korea', 'Spain', 'Italy', 'Japan',
       'Germany', 'Mexico', 'Brazil', 'France', 'Switzerland',
       'United Kingdom', 'Croatia', 'Ireland', 'Belgium', 'Argentina',
       'Singapore', 'Canada', 'Netherlands', 'Belorussia', 'Turkey',
       'India', 'Vietnam', 'Russia', 'United Arab Emirates', 'Thailand',
       'Philippines', 'Peru', 'Austria', 'New Zealand', 'Rusia',
       'Slovakia', 'Malaysia'], dtype=object)

In [ ]:
# Generar listado para cada destino sumando el total_value por cada destino
target_total=[]
for dest in target_list:
  destin=df_exports.loc[df_exports['destination']==dest]
  target_total.append([dest,destin['total_value'].sum()])
target_total

[['China', 11259992000],
 ['USA', 13159409000],
 ['South Korea', 7321668000],
 ['Spain', 5934191000],
 ['Italy', 6109329000],
 ['Japan', 8777152000],
 ['Germany', 11303451000],
 ['Mexico', 28315015000],
 ['Brazil', 7508016000],
 ['France', 5850549000],
 ['Switzerland', 840346000],
 ['United Kingdom', 8150673000],
 ['Croatia', 699000000],
 ['Ireland', 1147123000],
 ['Belgium', 13099380000],
 ['Argentina', 4860036000],
 ['Singapore', 2437127000],
 ['Canada', 2714779000],
 ['Netherlands', 3764239000],
 ['Belorussia', 3529000000],
 ['Turkey', 1446000000],
 ['India', 498000000],
 ['Vietnam', 6877007000],
 ['Russia', 1841219000],
 ['United Arab Emirates', 1037119000],
 ['Thailand', 337000000],
 ['Philippines', 344000000],
 ['Peru', 1673000],
 ['Austria', 1901000],
 ['New Zealand', 9382000],
 ['Rusia', 989046000],
 ['Slovakia', 258000],
 ['Malaysia', 218000]]

In [ ]:
# Creamos un dataframe para el total de Países con respecto a Exports
# Agregamos columnas de ['percent', 'cum_percent'], para tabla de frecuencia acumulada
df_target = pd.DataFrame(target_total, columns = ['destination', 'total_value'])
df_target=df_target.sort_values(by=['total_value'],ascending=False)
df_target['percent']=(df_target['total_value'] / total_target_value)
df_target['cum_percent']=df_target['percent'].cumsum()
df_target[:13]

       destination  total_value   percent  cum_percent
7           Mexico  28315015000  0.176788     0.176788
1              USA  13159409000  0.082162     0.258951
14         Belgium  13099380000  0.081788     0.340739
6          Germany  11303451000  0.070575     0.411313
0            China  11259992000  0.070303     0.481616
5            Japan   8777152000  0.054801     0.536418
11  United Kingdom   8150673000  0.050890     0.587307
8           Brazil   7508016000  0.046877     0.634185
2      South Korea   7321668000  0.045714     0.679898
22         Vietnam   6877007000  0.042937     0.722836
4            Italy   6109329000  0.038144     0.760980
3            Spain   5934191000  0.037051     0.798031
9           France   5850549000  0.036529     0.834560

In [ ]:
# Creamos un pie chart para los procentajes de cada destino con respecto a Exports solo para los que cubren el 80% de la demanda
# Data to plot
labels = df_target['destination'][:13]
sizes = df_target['percent'][:13]
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue','mediumorchid','cyan', "orange", "blue"]
# Plot
plt.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=True, startangle=140)
plt.axis('equal')
plt.show()

#Se agregan imagenes generadas en Power Bi

In [ ]:
![Alt text](descargas/a.jpg "AG title")